 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1{
  font-weight: 600;
}

.navbar{ 
  margin: 20px 25px;
  text-align: center;
}
.navbar h1{ 
  font-size: 2em;
}
.links{
  display: flex;
  justify-content: center;
}
a{
  font-weight: 900;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px ;
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.396);
  border-radius: 25px;
  box-shadow: 0 5px 12px rgba(132, 132, 132, 0.446);
}
a:hover{
  color: brown;
}

.content{
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  font-size: 0.5em;
}
.content h1{
  text-align: center;
}